footer {
    background: $separator-color;
    color: $text-color;
    padding: 30px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    .heart {
        color: $heart!important;
    }
    ul {
        display: flex;
        width: 30%;
        justify-content: space-between;
    }
    a {
        color: $text-color;
    }
    .fa {
        color: $text-color;
    }
}